@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bgset {
  from {
    background-size: 400% 400%;
  }

  to {
    background-size: 100% 100%;
  }
}

html {
  font-size: 18px;
}

body {
  background: #a9c9ff linear-gradient(to bottom, #a9c9ff 0%, #ffbbec 100%);
  animation: bgset 1s forwards ease-in;
  min-height: 100vh;
}

@layer utilities {
  .clip-form {
    clip-path: polygon(
      15% 0,
      100% 0,
      100% 20%,
      100% 85%,
      85% 100%,
      0 100%,
      0% 80%,
      0 15%
    );
  }
}
